node_modules/
.expo/
npm-debug.log
yarn-error.log
.DS_Store

# Android
android/.gradle
android/app/build
android/build
**/*.zip
**/*.tar.gz

# Allow Google Services for EAS Build (overrides .gitignore)
!google-services.json
!**/google-services.json
!GoogleService-Info.plist
!**/GoogleService-Info.plist
