<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607256726988-m219pfm6ula34j5rmmk3ep193483ailg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607256726988-m219pfm6ula34j5rmmk3ep193483ailg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607256726988-3bq3nvgr5osq1n7budc4f95mc060lnnk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAB2U1Tx0oABLh66O2wILBnLgrrV_KERo8</string>
	<key>GCM_SENDER_ID</key>
	<string>607256726988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlesapp.mobile</string>
	<key>PROJECT_ID</key>
	<string>empylo-health</string>
	<key>STORAGE_BUCKET</key>
	<string>empylo-health.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607256726988:ios:e1985e78d8da32d261a169</string>
</dict>
</plist>