<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433309283212-if0mi6urn71gv9n98d7e8m3bmtmkan8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433309283212-if0mi6urn71gv9n98d7e8m3bmtmkan8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433309283212-96itqth0i41dajufblhpr8rrhus2hvo7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_olPeL_FPnxeCd_kJc17y6QX1YFtmbM</string>
	<key>GCM_SENDER_ID</key>
	<string>433309283212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empylo.circlesapp</string>
	<key>PROJECT_ID</key>
	<string>circles-app-by-empylo</string>
	<key>STORAGE_BUCKET</key>
	<string>circles-app-by-empylo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433309283212:ios:2c3adbb2641c26d7775ca9</string>
</dict>
</plist>