CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DAILY_API_KEY=
SEED_TOKEN=
APNS_KEY_ID=
APNS_TEAM_ID=
APNS_KEY_P8_BASE64=
APNS_PRODUCTION=true
IOS_BUNDLE_ID=com.empylo.circlesapp
BREVO_API_KEY=
BREVO_SMTP_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=Circles Health App By Empylo
OTP_PEPPER=
SUPPORT_EMAIL=
APP_WEB_URL=https://www.empylo.com
APP_PRIVACY_URL=https://www.empylo.com/privacy
APP_TERMS_URL=https://www.empylo.com/terms
IOS_SUBSCRIPTION_PRODUCT_IDS=
ANDROID_SUBSCRIPTION_PRODUCT_IDS=
ANDROID_PACKAGE_NAME=com.empylo.circlesapp
APPLE_IN_APP_PURCHASE_ISSUER_ID=
APPLE_IN_APP_PURCHASE_KEY_ID=
APPLE_IN_APP_PURCHASE_KEY_P8_BASE64=
APPLE_ROOT_CA_PATH=certs/AppleRootCA-G3.pem
GOOGLE_PUBSUB_AUDIENCE=
GOOGLE_PUBSUB_SERVICE_ACCOUNT_EMAIL=
SUBSCRIPTION_ACTIVITY_GATING_ENABLED=false
